<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/css/login.css}" rel="stylesheet"/>
</head>
<body>
<main>
    <div class="login-block">
        <!--Форма для входа пользователя-->
        <form class="login-form" method="post"
              th:action="@{/login}" th:object="${request}" autocomplete="off">
            <p>
                <input id="user_login" type="text"
                       th:field="*{username}" placeholder="Введите логин" required/>
            </p>
            <p>
                <input id="user_password" type="password"
                       th:field="*{password}" placeholder="Введите пароль" required minlength="8"/>
            </p>
            <input type="submit" value="Ввойти">
        </form>
        <!--Кнопка для перехода на страницу регистрации-->
        <a href="/registration">
            <button>
                Регистрация
            </button>
        </a>
    </div>
</main>
</body>
</html>