<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link href="/css/registration.css" rel="stylesheet">
</head>
<body>
<main>
    <div class="registration-block">
        <!--Форма для регистрации пользователей-->
        <form class="registration-user-form" method="post" th:action="@{/registration}"
              th:object="${request}" autocomplete="off">
            <p>
                <input id="user-login" type="text" th:field="*{login}" placeholder="Введите логин"/>
            </p>
            <p>
                <input id="user-password" type="password" th:field="*{password}" placeholder="Введите пароль"
                       minlength="8"/>
            </p>
            <p>
                <input id="user-username" type="text" th:field="*{sureName}" placeholder="Введите фамилию">
            </p>
            <p>
                <input id="user-name" type="text" th:field="*{name}" placeholder="Введите имя">
            </p>
            <p>
                <select id="role" th:field="*{role}">
                    <option selected disabled value="" th:text="${'Выберите роль'}"/>
                    <option th:each="userRole:${roles}" th:value="${userRole}" th:text="${userRole}"/>
                </select>
            </p>
            <p>
                <input type="submit" value="Зарегестрироваться">
            </p>
        </form>
        <a href="/login">
            <button>
                Ввойти
            </button>
        </a>
    </div>
</main>
</body>
</html>